
    /* Center text and title */
    .swal2-toast .swal2-title,
    .swal2-toast .swal2-content {
        text-align: center !important;
    }
    .swal2-toast .swal2-icon {
        font-size: 3em;
        margin-bottom: 0.5em;
    }
    .swal2-toast .swal2-icon-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
#background{
    height: 100%;
    width: 100%;
    background-image: url("https://img.freepik.com/premium-vector/geometric-gradient-technology-background_23-2149110132.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1704240000&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
}